/**
 *  ********************************
 *  Browser styles reset
 *  ********************************
 */

*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 160%;
    hyphens: auto;
}

ul, ol {
    margin: 0;
    padding: 0;
}

ul li, ol li {
    list-style: none;
}

a:focus, a:active,
:focus,
:active {
    outline: none;
}

input, button, textarea {
    font-family: inherit;
}

/* removing annoying 'clear-button' button inside of input elements in old IE browsers */
input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

/* resettings inner paddings in buttons in FF */
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/* to be continued ... */
